* { /* 文書全体のフォントサイズを12pxにする*/
    font-size: 12px;
}
h1 {
    font-size: 22px;
    font-style: italic;
}
p {
    color:white;
    background-color: blue;
}
#comment {
    color: green;
}
.even {
    color: purple;
}
.odd {
    color: red;
}
